
<div class="row">
    <div class="col-md-10">
        <h3>Welcome</h3>
        <div ng-show="currentUser">
            <div ng-show='hasAccess("user")'>
            User 
            </div>
            <div ng-show='hasAccess("admin")'>
               Admin
                <div>
                    <table class="table table-striped">
                        <tr><td>Name</td><td>Phone</td><td>Call</td><td>View</td><td>Edit</td><td>Delete</td></tr>
                        <tr ng-repeat="user in users">
                            <td>{{user.info.name}}</td>
                            <td>{{user.local.phone}}</td>
                            <td>
                                <button class="btn btn-info" type="button" >Call</button>
                            </td>
                            <td>
                                <div>
                                    <a href="#/view/{{user.local.phone}}">View</a> 
                                </div>
                            </td>
                            <td>
                                <div>
                                    <a href="#/edit/{{user.local.phone}}">Edit</a> 
                                </div>
                            </td>
                            <td>
                                <div>
                                    <button class="btn btn-primary" type="button" ng-click="deleteUser($index,user.local.phone)">Delete</button>  
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>